.nav-container-main {
    background-color: var(--white);
    border-bottom: 1px solid #bfbfbf;
}

.nav-logo {
    max-width: 100px;
}

@media screen and (min-width: 768px) {
    .nav-logo {
        margin: 0px 30px;
    }
}

.nav-searchbar-container {
    width: 100%;
    max-width: 600px;
    height: 34px;
    border: 2px solid var(--navOrange);
    font-size: var(--mFontDesk);
}

@media screen and (max-width:767px) {
    .nav-searchbar-wrapper.responsive {
        background-image: linear-gradient(#f2f2f2, #fff);
        display: -webkit-box;
        -webkit-box-shadow: 1px 3px 3px 1px rgb(90 90 90 / 21%);
        box-shadow: 1px 3px 3px 1px rgb(90 90 90 / 21%);
        width: 100%;
        padding: 16px;
        position: absolute;
        z-index: 2;
        top: calc(100% + 2px);
        left: 0
    }
}



.nav-search-categories {
    border-right: 1px solid var(--navOrange) !important;
    width: 120px;
    font-size: var(--mFontDesk);
}

.suggestion-search-options li:hover,
.suggestion-search-options li.is-active {
    background-color: var(--blue);
    color: var(--white);
}

.nav-search {
    width: 100%;
    height: 34px;
}

.suggestion-search-options {
    position: relative;
    z-index: 1;
}

.nav-search-btn {
    background-color: var(--navOrange);
    border: none;
    font-weight: bold;
}

.nav-search-img {
    color: var(--white);
    width: 14px;
}

.nav-login-btn {
    font-size: var(--mFontDesk);
}

@media screen and (min-width: 768px) {
    .nav-login-btn {
        min-width: 70px;
    }
}

.nav-icon {
    color: var(--blue);
    font-size: 18px;
}

.nav-sign-in-modal-header {
    background-color: var(--navOrange);
}

.nav-sign-in-modal-header.buyer {
    background-color: var(--navLightBlue);
}

.nav-sign-in-modal-header i {
    font-size: 48px;
    color: var(--white);
}

.nav-sign-in-modal-header h5 {
    color: var(--white);
    font-weight: 700;
    font-size: 25px;
    padding-top: 10px;
}

.nav-sign-in-modal-header hr {
    height: 3px !important;
    background-color: #f46f62;
    opacity: 1;
    width: 110px;
}

@media screen and (max-width: 768px) {
    .nav-sign-in-modal-header hr {
        display: none;
    }
}

.nav-sign-in-modal-header img {
    max-width: 200px;
}

@media screen and (max-width: 768px) {
    .nav-sign-in-modal-header img {
        width: 100%;
        max-width: 150px;
    }
}

.nav-sign-in-modal-body {
    background-color: var(--white);
}

@media screen and (max-width: 768px) {
    .nav-sign-in-modal-body {
        display: flex;
        flex-direction: column;
    }
}

.nav-sign-in-modal-form {
    width: 315px;
}

@media screen and (max-width: 768px) {
    .nav-sign-in-modal-form {
        width: 100%;
    }
}

.nav-sign-in-modal-form .forget-password {
    color: #ababab;
}

.line {
    width: 100%;
    height: 3px !important;
    background-color: #ababab;
    color: #ababab;
}

.social-sign-in {
    width: 30px;
}

.nav-sign-up-modal-header {
    background-color: var(--navOrange);
}

.progress-steps {
    width: 50%;
    background-color: #f5f5f5;
    padding: 4px 0px;
}

.progress-steps .step-line {
    width: 100%;
    height: 3px !important;
    background-color: #ababab;
    color: #ababab;
}

.progress-steps .step-line.is-active {
    background-color: #0a3ca7;
    color: #0a3ca7;
    opacity: 1;
}

.progress-steps .step-no {
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--white);
    border: 2px solid #ababab;
    margin: 0px;
    color: #ababab;
    font-weight: bold;
}

.progress-steps .step-no.is-active {
    border: 2px solid #0a3ca7;
    background: #0a3ca7;
    color: var(--white);
}

#otp .digit-input {
    width: 30px;
    margin: 0px 4px;
}

/* Chrome, Safari, Edge, Opera */
#otp input::-webkit-outer-spin-button,
#otp input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#otp input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* --- */

.signed-in-user-dropdown {
    min-width: 52px;
    width: 52px;
    border-radius: 50%;
    padding: 0px;
    padding-right: 16px;
}

.nav-container-sub {
    background-image: linear-gradient(#f2f2f2, #fff);
    display: -webkit-box;
    -webkit-box-shadow: 1px 3px 3px 1px rgb(90 90 90 / 21%);
    box-shadow: 1px 3px 3px 1px rgb(90 90 90 / 21%);
}

@media screen and (max-width:767px) {}

#side-panel-toggle-btn {
    color: #ccc;
}

.nav-service-btn {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .nav-service-btn {
        width: fit-content;
    }
}

.service-orange {
    border: none;
    background-color: var(--navOrange);
}

.nav-icon.sign-in {
    color: #000;
}

.nav-icon.sign-up {
    color: #fff;
}

.nav-modal-close-btn {
    color: var(--navOrange);
    font-size: 24px;
}

#nav-searchbar-container-mobile {
    width: 100%;
    background-image: linear-gradient(#f2f2f2, #fff);
    position: absolute;
    z-index: 1;
}

.password-view-toggle-btn {
    position: absolute;
    right: 24px;
}