@import url('./common.css');

.payment-card-details-container {
    border: 1px solid #dfdfdf;
}

.payment-card-details-container .card-icons {
    width: 40px;
}

.user-card-icon {
    width: 40px;
}

.credit-card-input {
    padding: 8px 10px;
    margin-bottom: 0 9px;
    font-size: var(--labelFont);
    width: 100%;
    width: calc(100% /4);
    border: none;
}

.payment-card-details-container .expiry {
    width: 40px;
}

.payment-card-details-container .cvv {
    width: 55px;
}

#paypal-btn.is-disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}