@import url('./common.css');
@import url('./navbar.css');
@import url('./footer.css');

.subscription-card {
    background-color: var(--while);
    border: 1px solid #dfdfdf;
    margin-bottom: 60px;
}

.subscription-card:hover {
    border: none;
    box-shadow: 0px 8px 24px 0px;
}

.subscription-card:hover .subscription-card-banner {
    transform: scale(1.1);
}

.subscription-card-banner {
    height: 125px;
    width: 250px;
    border-radius: 0px 16px 50px 50px;
}

.subscription-card-banner.free {
    background-color: #000;
    color: var(--white);
}

.subscription-card-banner.silver {
    background-image: linear-gradient(to right, #c0c0c0, #ffffff, #dfdfdf, #bfbfbf);
}

.subscription-card-banner.gold {
    background-image: linear-gradient(to right, #cecb00, #fdff7f, #e9d600, #a48600);
}

.subscription-card-banner.star {
    background-image: linear-gradient(to right, #30c5d2, #471069);
    color: var(--white);
}

.subscription-card-heading {
    height: 65px;
    max-height: 65px;
    border-bottom: 5px solid #dfdfdf;
}

.subscription-card-item {
    min-height: 36px;
    border-bottom: 2px dashed #dfdfdf;
}

.subscription-card-item i {
    font-size: 18px;
}

.subscription-card-item .fa-check {
    color: green;
}

.subscription-card-item .fa-xmark {
    color: red;
}

.subscribe-now-btn {
    border: none;
}

.subscription-card:hover .subscribe-now-btn {
    transform: scale(1.1);
}

.subscribe-now-btn.free {
    background-color: #000;
    color: var(--white);
}

.subscribe-now-btn.silver {
    background-image: linear-gradient(to right, #c0c0c0, #ffffff, #dfdfdf, #bfbfbf);
}

.subscribe-now-btn.gold {
    background-image: linear-gradient(to right, #cecb00, #fdff7f, #e9d600, #a48600);
}

.subscribe-now-btn.star {
    background-image: linear-gradient(to right, #30c5d2, #471069);
    color: var(--white);
}

/* plan info */

.plan-info-img {
    min-width: 40%;
    width: 100%;
    max-width: 500px;
}

.plan-info {
    line-height: 1.6em;
    font-weight: 600;
}