@import './common.css';

.maintenance-gif {
    max-width: 525px;
}

.maintenance-heading {
    color: var(--blue);
}

@media screen and (min-width:576px) {
    .maintenance-heading {
        font-size: 50px;
        color: var(--blue);
    }
}