@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --ripple-color: rgb(128, 128, 128, .7);
}
@tailwind base;
* {
    font-family: "Inter", sans-serif;
}

a.lit {
    color: #10847e;
    font-weight: 600;
}

a.lit:hover {
    color: #30363C;
}

@keyframes ripple-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(10);
        opacity: 0;
    }
}

.ripple {
    background: var(--ripple-color);
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    position: absolute;
    animation: ripple-animation .6s ease-in-out;
    mix-blend-mode:luminosity;
}

@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}